.main-cv-container {
  width: 595px;
  height: 842px;
  background-color: whitesmoke;
  color: #121212;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b0b0b0;
  padding: 20px 0;
}

.header-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-details-container {
  display: flex;
  gap: 8px;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

.education,
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-header,
.work-header {
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: #e0e0e0;
  margin-top: 32px;
  margin-bottom: 12px;
}

.education-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  column-gap: 18px;
}

.education-uni-degree,
.education-date-location {
  display: flex;
  flex-direction: column;
}

.education-uni {
  font-size: 1.1em;
  font-weight: bold;
}

.education-date-location {
  min-width: 140px;
}
